.wrap {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #000;
  color: white;
  width: 340px;
  z-index: 10;
}
