.nav {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.25rem, 0.357rem + 2.38vw, 2.5rem);
}
.nav li {
  font-weight: 500;
}

@media (max-width: 850px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .link {
    color: wheat;
  }
}

.active {
  color: rgb(39, 146, 39);
}
